---
import BackButtonLink from "@/components/BackButtonLink.astro"

type Props = {
  variant?: "inset" | "background"
  background: string
  id: string
  heading?: string
  subheading?: string
  backLink?: string
}

const {
  variant = "background",
  background,
  id,
  heading,
  subheading,
  backLink,
} = Astro.props
---

<style>
  .cover-container {
    display: grid;
    max-width: 100%;
    overflow: clip;
  }

  .cover-container.inset {
    margin: 0.5rem;
    border-radius: 2rem;
  }

  .cover {
    display: grid;
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 70lvh;
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003, #000a);
    border-radius: 0;
  }

  .headings {
    grid-area: 1 / 1 / -1 / -1;
    z-index: 1;
    align-self: center;
    text-align: center;
    margin: 1rem;
  }

  h2 {
    color: white;
  }

  h3 {
    color: white;
    font-weight: 100;
  }

  @supports (animation-timeline: view()) {
    @media (prefers-reduced-motion: no-preference) {
      @keyframes cover-fade {
        to {
          scale: 1.5;
          filter: blur(1px) brightness(0.01);
        }
      }
      .cover {
        animation: cover-fade linear forwards;
        animation-timeline: view();
        animation-range: exit 1rem;
        transform-origin: bottom;
      }
    }
  }
</style>

<div
  transition:name=`cover-${id}`
  transition:animate="none"
  class:list={["cover-container", { inset: variant === "inset" }]}
>
  {backLink && <BackButtonLink href={backLink} />}
  <div class="cover" style={`background-image: url(${background});`}></div>
  <div class="headings">
    {heading && <h2>{heading}</h2>}
    {subheading && <h3>{subheading}</h3>}
  </div>
</div>
