---
import { getCollection, type CollectionEntry } from "astro:content"

import BaseHead from "../../../components/BaseHead.astro"
import Header from "../../../components/Header.astro"
import Footer from "../../../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../../../consts"
import CoverImage from "../../../components/CoverImage.astro"

const { trip: tripSlug } = Astro.params

export async function getStaticPaths() {
  const allPosts = await getCollection("travel")
  const trips = Array.from(
    new Set(allPosts.map(post => post.slug.split("/")[0]))
  )

  return trips.map(trip => {
    const posts = allPosts
      .filter(post => post.slug.split("/")[0] === trip)
      .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())

    return {
      params: { trip },
      props: { posts, trip },
    }
  })
}

type Props = { posts: CollectionEntry<"travel">[] } & { trip: string }
const { posts, trip } = Astro.props
---

<style>
  ul {
    display: grid;
    gap: 1rem;
    list-style: none;
  }
  a {
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <CoverImage trip={trip} />
      <h1>{tripSlug}</h1>
      <ul>
        {
          posts.map(post => (
            <li>
              <a href={post.slug}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
