---
import { ViewTransitions } from "astro:transitions"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import Footer from "../components/Footer.astro"

import "@fontsource-variable/mada"
import "../styles/global.css"

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const title = Astro.props.title || SITE_TITLE
const description = Astro.props.description || SITE_DESCRIPTION

// TODO: Use a proper placeholder image
// TODO: Use a proper favicon
const image = Astro.props.image || "/blog-placeholder-1.jpg"
---

<html lang="en">
  <head>
    <ViewTransitions />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    {description && <meta name="description" content={description} />}

    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <slot name="head" />
  </head>

  <body>
    <slot />
    <Footer />
  </body>
</html>
